chromedriver.exe
*.csv
*.txt
node_modules
googleMapsScraperbyGeorgiosKomninos
.mypy_cache
__pycache__
Deconnecting
venv

!responseGetLocationID.txt
!responseGetPossibleCountries.txt
!responseGetLocations.txt
!responseGetHotel.txt
!responseGetAttractions.txt