.blue__gradient {
    background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
    filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.text-gradient {
    background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
  
.bg-blue-gradient {
    background: linear-gradient(
      157.81deg,
      #def9fa -43.27%,
      #bef3f5 -21.24%,
      #9dedf0 12.19%,
      #7de7eb 29.82%,
      #5ce1e6 51.94%,
      #33bbcf 90.29%
  );
}
  
  .bg-black-gradient {
    background: linear-gradient(
      144.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%
    );
  }
  
  .bg-black-gradient-2 {
    background: linear-gradient(
      -168.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%
    );
  }
  
  .bg-gray-gradient {
    background: linear-gradient(
      153.47deg,
      rgba(255, 255, 255, 0) -341.94%,
      #14101d 95.11%
    );
  }
  
  .bg-discount-gradient {
    background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);                             
  }
  
  .box-shadow {
    box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
  }

:root {
    --pink__gradient: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
    --white__gradient: rgba(255, 255, 255, 0.6);
    --black-gradient: linear-gradient(.39deg, #ffffff -278.56%, #6d6d6d -78.47%, #11101d 91.61%);
    --blue-gradient: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
    --bg-blue-gradient: linear-gradient(157.81deg, #def9fa -43.27%, #bef3f5 -21.24%, #9dedf0 12.19%, #7de7eb 29.82%, #5ce1e6 51.94%, #33bbcf 90.29%);
    --black-gradient-2: linear-gradient(-168.39deg, #ffffff -278.56%, #6d6d6d -78.47%, #11101d 91.61%);
    --bg-gray-gradient: linear-gradient(153.47deg, rgba(255, 255, 255, 0) -341.94%, #14101d 95.11%);
    --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
    --text-gradient: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #def9fa 0.89%, #bef3f5 17.23%, #9dedf0 42.04%, #7de7eb 55.12%, #5ce1e6 71.54%, #33bbcf 100%);
    --webkit-background-clip-text: text;
    --webkit-text-fill-color-transparent: transparent;
    --background-clip-text: text;
    --text-fill-color-transparent: transparent;
    --color-white: #fff;
    --color-black: #000;
    --color-bg: #00040F;
    --container-width-lg: 70%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
    --transition: all 400ms ease;
    --discount__gradient: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}
body {
    color: var(--color-white);
    background-color: var(--color-bg);
    background-image: var(--black-gradient);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: overlay;
}
/*****************************************NAVBAR***********************************/
.header__glow{
    background: var(--pink__gradient);
    filter: blur(900px);
    opacity: 0.6;
    position: absolute;
    z-index: 0;
    width: 40%;
    height: 35%;
    top: 350;
}
.header__glow-2{
    background: var(--white__gradient);
    filter: brightness(10%) blur(123px);
    position: absolute;
    z-index: 0;
    width: 40%;
    height: 35%;
    top: 150;
    left: 0;
}
.header__glow-3{
    background: var(--blue-gradient);
    filter: brightness(150%) blur(123px);
    position: absolute;
    z-index: 0;
    width: 40%;
    height: 35%;
    top: 250;
}
.header__glow-4{
    background: var(--blue-gradient);
    filter: brightness(10%) blur(123px);
    position: absolute;
    z-index: 0;
    width: 40%;
    height: 35%;
    top: 550;
    left: 0;
}