body{
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

p, .archivo{
    font-family: 'Archivo'
}
.heromainContainer{
    width: 100%;
}
.heroContainer {
    border: none;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.heroImage {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    margin-bottom: -350px;
    filter: brightness(90%);

    animation: hero-Image linear forwards;
    animation-timeline: view();
    animation-range: exit;
}

@keyframes hero-Image{
    25% {opacity: 1;}
    85%, 100% {opacity: 0; scale: 3}
}
  
@keyframes fade-out{
    to { opacity: 0}
}


.textOverlay {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;

    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -200px;
}

.textOverlay h1, .textOverlay p {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.heroTitle{
    font-size: 5rem;
}

/******NAVBAR******/

.navbar {
    width:  100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.navbar-logo img {
    height: 90px;
}

.navbar-items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-items li {
    margin-left: 30px;
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    transition: background-color 0.3s;
}


.special-button {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #0B202A;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    margin-left: 30px;
}

.special-button i {
    color: white;
    font-size: 1.5rem;
}

.special-button:hover {
    background-color: #688995;
}

.navitem{
    position: relative;
}

.navitem:hover{
    color: #fff;
}

.navitem::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: all .5s;
}

.navitem:hover::before{
    width: 100%;
}
